In [1]:
web = "codeswithcalvin"
for i in web:
    print(i)

c
o
d
e
s
w
i
t
h
c
a
l
v
i
n

In [2]:
# range(EndValue) # start 0

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
# range(start,end)

for i in range(10,23):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22

In [4]:
# range(start,end,steps)

for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [5]:
# take user input
start = int(input('enter start number '))
end = int(input('enter end number '))

for i in range(start,end+1):
    print(i)

enter start number  10
enter end number  17

10
11
12
13
14
15
16
17

In [6]:
#end=' '

for i in range(1,21):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [7]:
# while loop 

# start point
# end point
# output
# +/-

i = 1
while(i <= 10):
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

In [8]:
# function basic 

# def functionName():
    # output

def info():
    print("welcome to codes with calvin")
    print("cwpc.in")

# call the function
info()
info()

welcome to codes with calvin
cwpc.in
welcome to codes with calvin
cwpc.in

In [9]:
# with arg

def add(num1,num2):
    print(num1+num2)

add(1200,67)

1267

In [10]:
# return type

def get_number():
    return 900

print("this is number : ",get_number())

this is number :  900

In [11]:
# return type and with arg

def get_result(total,per):
    f_total = total*per/100
    f_total = total+ f_total
    return f_total

In [12]:
final = get_result(1200,18)

m_final = 345 + final
print(' this is main result ',final)

 this is main result  1416.0

In [ ]:
# -- input Section 
# 1. Enter Student Name : Ravi
# 2. Enter Roll Number : RAVI009912
# 3. Enter Class : MCA
# 4. Enter JAVA Marks : 56
# 5. Enter C++ Marks : 89
# 6. Enter Python Marks : 12
# 7. Enter Ruby Marks : 56
# 8. Enter SQL Marks : 78

# -- Output Section
# Student Name : Ravi
# Roll Number : RAVI009912
# Class : MCA
# Enter JAVA Marks : 56/100
# C++ Marks : 89/100
# Python Marks : 12/100
# Ruby Marks : 56/100
# SQL Marks : 78/100
#    total = ?
#    Per % = ?%